* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 15px/24px "Lato", Arial, sans-serif;
}

html,
body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 10px !important;
}

input {
    width: 250px;
}

.swal-modal {
    padding-bottom: 50px;
}
